@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html, body{
    color: #fff;
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    background: linear-gradient(0deg, rgba(0, 6, 27, 1) 0%, rgba(17, 29, 65, 1) 100%);
}
hr {
    margin: .5em 0;
    border-bottom: 2px solid #fff;
    border-top: unset;
    opacity: unset;
}
img {width: 100%;}
.nav-link:focus, .nav-link:hover{
    color: unset;
}

/*--- 限制畫面寬高 ---*/
.main{
    flex: 1 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column; /* 讓子元素垂直排列 */
    min-height: 100vh; /* 最小高度為視窗高度 */
}
/*--- header ---*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    height: 44px;
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    border-bottom: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(238, 238, 238, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%);
    align-items: center;
}
.logoBox img{
    height: 40px;
    width: auto;
    padding: 0 3px;
}
.balanceBox img{
    height: 24px;
    width: auto;
}
.balanceBox .balance{
    color: #fff;
    font-weight: 700;
}
.refreshbalanceBox img{
    height: 24px;
    width: auto;
}
.userimgBox img{
    height: 28px;
    width: auto;
}
.dropdown-lang img{
    width: 36px;
    height: auto;
    border: 4px solid #00133000;
    border-radius: 50%;
}
.dropdown-lang:hover img{
    border: 4px solid #00133099;
}
.dropdown-lang::after {
    display: none !important;
}
.dropdown-lang-menu{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    min-width: unset;
    width: 37px;
    left: unset!important;
    right: 5px;
    padding: 0;
    border-radius: 20px;
}
.dropdown-lang-menu li:not(:first-child):not(:last-child) {
    margin: 5px 0 !important;
}
.dropdown-item{
    padding: 0;
}
.dropdown-langBox .dropdown-item img{
    width: 36px;
    height: auto;
    border: 4px solid transparent;
    border-radius: 50%;
}

/*--- main 主畫面 ---*/
.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.videoBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 45px;
    z-index: 1;
}
.videomain video {
    width: 100%;
}
.videoswitch {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0!important;
    z-index: 2;
    box-shadow: 0 0 5px #fff;
}
.videoswitch video{
    max-height: 120px;
    max-width: 120px;
    display: block;
}
.live-MarbleRacing .carousel-control-next, .live-MarbleRacing .carousel-control-prev{
    top: unset;
    bottom: 20px;
    width: unset;
}
.live-MarbleRacing .carousel-indicators [data-bs-target]{
    width: 20px;
    position: relative;
    bottom: -20px;
}
.videoswitch .live-MarbleRacing .carousel-control-next, .videoswitch .live-MarbleRacing .carousel-control-prev{
    display: none;
}
.videoswitch .live-MarbleRacing .carousel-indicators [data-bs-target]{
    display: none;
}
/*--- Bet Area ---*/
.bottom{
    position: fixed!important;
    bottom: 0!important;
    height: auto!important;
    width: 100%;
    z-index: 2;
}
.bottombetarea {
    overflow: hidden;
    transition: height .5s ease;
}
.betareaBox{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
}
.betareaBox::after {
    content: "";
    display: table;
    clear: both;
}
.betarea-header{
    border-bottom: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(238, 238, 238, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%);
    border-image-slice: 1;
    max-height: 40px;
}
.betarea-header img{
    width: 24px;
    height: auto;
}
.betarea-header-message{
    width: 300px;
    white-space:nowrap;
    overflow-x: auto;
}
.btn-showhidebetarea{
    padding: 0;
}
.betarea-ballBox {
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
}
.betarea-ballBox .btn-ball{
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    position: relative;
    display: inline-block;
}
.btn-ball.active{
    position: relative;
    top: -10px;
}
.btn-ball .chipimg{
    position: relative;
    bottom: -10px;
    right: 25px;
}
.btn-ball .betchipBox {
    position: absolute;
    bottom: -15px;
    right: -10px;
    width: 36px;
    height: auto;
    z-index: 9;
}
.chipimgBox {
    position: relative;
    width: 100%;
    height: 100%;
}
.chip-img {
    width: 100%;
    height: 100%;
    display: block;
}
.chip-amount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: 800;
    color: #000;
    text-shadow: 0 0 3px #fff, 0 0 5px #fff;
}
/*--- Doubleside Bet ---*/
.betarea-doublesideBox {
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
}
.betarea-doublesideBox .btn-doubleside-one, .betarea-doublesideBox .btn-doubleside-two{
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    display: inline-block;
}
.btn-doubleside-one{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    border: 1px solid rgba(48, 80, 138, 1);
}
.btn-doubleside-one.active{
    background: linear-gradient(90deg, rgba(0, 89, 255, 0.75) 0%, rgba(0, 54, 153, 0.75) 100%),
                radial-gradient(50% 15.4% at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #5891FB;
}
.btn-doubleside-one .bet-optionname{
    color: rgba(81, 147, 255, 1);
    font-size: 20px;
    font-weight: 700;
}
.btn-doubleside-one.active .bet-optionname{
    color: #fff;
}
.btn-doubleside-two{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    border: 1px solid rgba(178, 60, 62, 1)
}
.btn-doubleside-two.active{
    background: linear-gradient(126.84deg, #FF0005 -54.54%, #6E0002 85.79%),
                radial-gradient(50% 18.07% at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #FF7C7E;
}
.btn-doubleside-two .bet-optionname{
    color: rgba(252, 118, 121, 1);
    font-size: 20px;
    font-weight: 700;
}
.btn-doubleside-two.active .bet-optionname{
    color: #fff;
}
.bet-price{
    color: #fff;
}
.btn-doubleside-one .betchipBox, .btn-doubleside-two .betchipBox {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 36px;
    height: auto;
    z-index: 9;
}
/*--- Amount Setting ---*/
.betarea-amountsettingBox{
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
}
.totalamountBox{
    flex: 0 0 60%;
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    height: 36px;
}
.totalamountBox img{
    width: 24px;
    height: auto;
}
.btn-amountaction{
    flex: 1;
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    height: 36px;
}
.btn-amountaction:hover{
    background: linear-gradient(274.82deg, #4F5583 44.46%, #292E4E 76.74%, #1B1F3A 96.11%);
}
.btn-amountaction:active{
    background: linear-gradient(180deg, #FF006F 31.25%, #66002D 100%),
                radial-gradient(48.46% 60.95% at 51.54% 96.43%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 85%);
}
.btn-amountaction img{
    width: 24px;
    height: auto;
}
.btn-clear:active{
    background: linear-gradient(180deg, #FB5457 0%, #8A2E30 100%);
    border: 1px solid;
    border-color: #6E0002!important;
}
.btn-2x:active{
    background: linear-gradient(180deg, #33FF41 1.69%, #24B52E 100%);
    border: 1px solid;
    border-color: #33ff41!important;
}
/*--- Enter Bet ---*/
.betarea-finalbetBox{
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
}
.btn-finalbet{
    flex: 1;
    color: #fff;
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    min-height: 56px;
}
.btn-finalbet img{
    width: 24px;
    height: auto;
}
.btn-finalbet:hover{
    background: linear-gradient(274.82deg, #4F5583 44.46%, #292E4E 76.74%, #1B1F3A 96.11%);
}
.btn-finalbet:active{
    background: linear-gradient(180deg, #FF006F 31.25%, #66002D 100%),
                radial-gradient(48.46% 60.95% at 51.54% 96.43%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 85%);
}
.btn-confirm{
    flex: 0 0 40%;
}
/*--- Map way ---*/
.mapwayBox {
    background-color: rgba(0, 0, 0, 0.7);
}
.mapway-header img{
    width: 24px;
    height: auto;
}
.mapway-tab-content{
    width: 70%;
}
.mapway-tableBox{
    border: 1px solid rgba(238, 238, 238, .3);
    border-radius: 6px;
    padding: 4px;
    overflow-x: auto;
    width: 100%;
}
.mapway-table{
    table-layout: fixed;
    width: 300px;
    height: 90px;
    font-size: 10px;
}
.mapway-table td{
    height: 15px!important;
    width: 15px!important;
    text-align: center;
    vertical-align: middle;
}
.mapway-table td span {
    display: block;
    height: 13px;
    width: 13px;
    line-height: 1;
}
.way-blue{
    border: 1px solid rgba(81, 147, 255, 1);
    border-radius: 50%;
}
.way-red{
    border: 1px solid rgba(252, 118, 121, 1);
    border-radius: 50%;
}
.btn-mapwaytable{
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    color: #fff;
    margin: 3px 0;
}
.btn-mapwaytable.active{
    background: linear-gradient(180deg, #FF006F 31.25%, #66002D 100%),
                radial-gradient(48.46% 60.95% at 51.54% 96.43%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 85%);
}
/*--- Menu dropup ---*/
.menudropleftBox{
    text-align: end;
    padding: 5px;
}
.btn-menudropleft{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    border: 1px solid rgba(153, 153, 153, 0.5);
    width: 32px;
    height: 32px;
    position: relative;
}
.btn-menudropleft img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: auto;
}
.btn-menudropleft:hover, .btn-menudropleft:active{
    border: 1px solid rgba(153, 153, 153, 1);
}
.menudropleftBox.dropstart .dropdown-toggle::before{
    display: none;
}
.menudropleftBox .dropdown-menu{
    min-width: unset;
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    border: 1px solid rgba(153, 153, 153, 0.5);
    height: 32px;
    padding: 0;
}
.menudropleftBox .dropdown-menu.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menudropleftBox .dropdown-menu img{
    width: 24px;
    height: auto;
}
.menudropleftBox .dropdown-item{
    width: unset;
    margin: 0 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menudropleftBox .dropdown-item.active, .menudropleftBox .dropdown-item:active{
    background: linear-gradient(180deg, #FF006F 31.25%, #66002D 100%),
    radial-gradient(48.46% 60.95% at 51.54% 96.43%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 85%);
}
/*--- modal ---*/
.modal-backdrop.show{
    opacity: 1;
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.5);
}
.modal .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);;
    color: #fff;
    opacity: 1;
}
.modal-content{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
}
.modal-header img{
    width: 24px;
    height: auto;
    margin-right: 10px;
}
.modal-header{
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1px solid rgba(188, 190, 196, 0.4);
}
.modal-body{
    padding: 5px 10px 10px 10px;
}
.btn-modaltab{
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    color: #fff;
    margin: 3px 0;
    width: 49%;
}
.btn-modaltab.active{
    background: linear-gradient(180deg, #FF006F 31.25%, #66002D 100%),
                radial-gradient(48.46% 60.95% at 51.54% 96.43%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 85%);
}
/* bet history */
.bethistory-tabcontent{
    max-height: 500px;
    overflow: auto;
}
.currentbet-table, .todaybet-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.currentbet-table th,
.currentbet-table td {
    width: 33%;
    word-break: break-word;
    padding: 3px;
}
.todaybet-table th,
.todaybet-table td {
    width: 25%;
    word-break: break-word;
    padding: 3px;
}
.currentbet-table thead, .todaybet-table thead {
    position: sticky;
    top: 0;
    background: linear-gradient(282.29deg, #4f5583 0%, #292E4E 50%, #4f5583 100%);
    border-radius: 4px;
}
.currentbet-table th, .todaybet-table th{
    padding: 5px 0;
}
.currentbet-table td, .todaybet-table td{
    border-bottom: 1px solid rgba(188, 190, 196, 0.1);
}
.currentbet-table .ballimg, .todaybet-table .ballimg{
    width: 24px;
    height: auto;
}
/* record */
.record-tabcontent{
    max-height: 500px;
    overflow: auto;
}
.history-table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.history-table th:nth-child(1),
.history-table td:nth-child(1){
    width: 20%;
    word-break: break-word;
    font-size: 14px;
}
.history-table thead {
    position: sticky;
    top: 0;
    background: linear-gradient(282.29deg, #4f5583 0%, #292E4E 50%, #4f5583 100%);
    border-radius: 4px;
}
.history-table th{
    padding: 5px;
}
.history-table td{
    border-bottom: 1px solid rgba(188, 190, 196, 0.1);
    padding: 5px 0;
}
.historyballBox{
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
.historyballBox .ballimg {
    flex: 1 1 0;
    width: 9%;
    height: auto;
}

.statistics-doublesideBox{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    border: 1px solid rgba(238, 238, 238, 0.5);
    border-radius: 8px;
    padding: 8px;
}
.statisticsdoubleside-total{
    color: rgba(255, 189, 66, 1);
}
.statisticsdoublesideBox{
    display: flex;
    align-items: center;
    gap: 2px;
}
.statisticsdoubleside-one{
    border: 3px solid rgba(81, 147, 255, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
}
.statisticsdoubleside-two{
    border: 3px solid rgba(252, 118, 121, 1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
}
.btn-ballnumtab{
    padding: 0;
}
.btn-ballnumtab img{
    width: 22px;
    height: 22px;
}
.btn-ballnumtab.active{
    background: none!important;
}
.btn-ballnumtab.active img{
    transform: scale(1.5);
    filter:drop-shadow(0px 0px 5px rgba(255, 189, 66, .6));
}
.statisticschart-barBox {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-top: 1px dashed #fff;
    border-bottom: 1px dashed #fff;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    z-index: 0;
}
.statisticschart-barBox::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    border-top: 1px dashed #fff;
    pointer-events: none;
    z-index: -1;
}
.statisticschart-rank {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
}
.barstrip {
    width: 10px;
    background: rgba(254, 179, 16, 1);
    text-align: center;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.barstripBox {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.ranktrends img{
    width: 16px;
    height: 16px;
}
/* chip amount */
.result-modal .modal-header{
    border-bottom: none;
}
.result-title{
    font-size: 28px;
    font-weight: 700;
}
.manualamountBox img{
    width: 24px;
    height: auto;
}
.manualamountBox input{
    width: 90%;
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    padding: 8px 16px;
    color: rgba(255, 189, 66, 1);
    font-weight: 700;
}
.manualamountBox input::placeholder{
    color: #fff6;
    font-weight: 400;
}
.manualbtnBox button{
    width: 48%;
}
/* check bet option */
.betoption-ballBox {
    display: flex;
    flex-wrap: wrap;
}
.betoption-ball .ball-img{
    width: 50px;
    height: auto;
}
.betoption-ball{
    position: relative;
    margin: 5px;
}
.betoption-ball .betchipBox {
    position: absolute;
    bottom: -15px;
    right: -10px;
    width: 36px;
    height: auto;
    z-index: 9;
}
.betoption-doubleside{
    border-radius: 4px;
    position: relative;
    width: 23%;
    margin: 5px;
}
.betoption-doubleside.one{
    background: linear-gradient(90deg, rgba(0, 89, 255, 0.75) 0%, rgba(0, 54, 153, 0.75) 100%),
                radial-gradient(50% 15.4% at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #5891FB;
}
.betoption-doubleside.two{
    background: linear-gradient(126.84deg, #FF0005 -54.54%, #6E0002 85.79%),
                radial-gradient(50% 18.07% at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #FF7C7E;
}
.betoption-doubleside .betchipBox{
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 36px;
    height: auto;
    z-index: 9;
}
/* setting switch */
.switch-item{
    padding: 8px;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #fff1;
}
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 28px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(94.82deg, #4F5583 44.46%, #292E4E 76.74%, #1B1F3A 96.11%);
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-radius: 30px;
    transition: .3s;
}
.slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background: linear-gradient(0deg, rgba(188, 190, 196, 0.4), rgba(188, 190, 196, 0.4));
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-radius: 50%;
    transition: .3s;
}
.switch input:checked + .slider {
    background: linear-gradient(180deg, #33FF41 0%, #156B1B 100%);
    border: 1px solid #156B1B;
}
.switch input:checked + .slider::before {
    transform: translateX(20px);
    background: linear-gradient(180deg, #33FF41 1.69%, #24B52E 100%);
    border: 1px solid #24B52E;
    box-shadow: 0 2px 5px #333;
}
.winamountBox{
    background: linear-gradient(94.82deg, #4F5583 44.46%, #292E4E 76.74%, #1B1F3A 96.11%);
    border: 1px solid #4F5583;
    border-radius: 8px;
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0 3px 5px #000;
}
.winamount-amount {
    color: rgba(255, 189, 66, 1);
}
#win_Modal .manualbtnBox .btn-primary{
    width: 100%;
}
.goldcoinBox{
    position: absolute;
    top: 48%;
    pointer-events: none;
}
/*--- redenvelope ---*/
.redenvelopeamount{
    gap: 5px;
}
.redenvelopeamount img{
    width: 24px;
    height: auto;
}
.redenvelopeamount input {
    flex: 1; 
    padding: 5px 10px;
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    color: rgba(255, 189, 66, 1);
}
.redenvelopenote{
    color: rgba(255, 189, 66, 1);
}
/*--- present ---*/
.presenttypeBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.present-option{
    background: linear-gradient(0deg, rgba(188, 190, 196, 0.4), rgba(188, 190, 196, 0.4));
    border: 1px solid rgba(188, 190, 196, 0.4);
    border-radius: 16px;
    padding: 8px;
    margin: 4px;
}
.present-option:active{
    background: linear-gradient(0deg, rgba(188, 190, 196, 1), rgba(188, 190, 196, 1));
}
.presentimg {
    position: relative;
    width: 80px;
    height: 80px;
}
.presentname{
    color: rgba(255, 189, 66, 1);
}
.nocolor-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.presentpopupBox {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ribbonsgif {
    position: absolute;
    top: 13%;
    z-index: 2;
}
.presentgif {
    position: absolute;
    top: 13%;
    z-index: 1;
}




/*--- live chat ---*/
.livechatBox{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
}
.livechatBox.hidden {
    display: none;
}
.chatrecord{
    border-bottom: 1px solid rgba(238, 238, 238, .2);
    margin-left: 5px;
    margin-right: 5px;
    max-height: 110px;
    overflow-y: auto;
}
.chatunit{
    padding: 2px 0;
}
.chatunit img{
    width: 25px;
    height: 25px;
}
.chataction img{
    width: 35px;
    height: 35px;
}
.userchat{
    background: linear-gradient(78deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 40%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    width: 60%;
    padding: 5px;
}



.openselectroomBox {
    position: fixed;
    top: 10%;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    padding: 16px 4px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    z-index: 4;
    transition: left 0.3s ease;
}
.openarrow {
    width: 20px;
    height: auto;
}
.selectroomBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-top: 48px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.selectroomBox.open {
    transform: translateX(0);
}
.btn-liveroomlevel{
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 8px;
    color: #fff;
    padding: 8px 4px;
    width: 49%;
}
.btn-liveroomlevel.active{
    background: linear-gradient(180deg, #FF006F 31.25%, #66002D 100%);
    border: 1px solid rgba(188, 190, 196, 0.4);
}

.livelevelBox-general, .livelevelBox-vip{
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 100px;
}
.liveroomBox{
    margin: 5px 0;
    border-radius: 8px;
    border: 1px solid rgba(188, 190, 196, 0.4);
    position: relative;
}
.liveroomBox img{
    border-radius: 8px;
}
.liveHostnum {
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: bold;
    z-index: 2;
    color: rgba(255, 192, 192, 1);
    text-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
}
.liveGamenum{
    position: absolute;
    bottom: 5px;
    left: 5px;
    text-shadow: 1px 1px 5px #000, -1px -1px 5px #000;
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%);
    border-radius: 8px;
    padding: 0 8px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 2px 0px rgba(255, 255, 255, 0.75) inset;
    backdrop-filter: blur(10px);
}



.rotatewarning-popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* 半透明背景 */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}
.rotatewarning-popup.show {
    display: flex;
}











/* 文字顏色 */
.redtext{
    color: rgba(252, 118, 121, 1);
    font-weight: 700;
}
.bluetext{
    color: rgba(81, 147, 255, 1);
    font-weight: 700;
}
/* 橫式畫面樣式 */
@media (orientation: landscape) {
    .mapwayBox {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: auto;
        backdrop-filter: blur(6px);
        z-index: 3;
        display: none;
    }
    .betarea-header-message{
        width: 600px;
    }
    .betarea-horizontal-left,
    .betarea-horizontal-right {
        width: 49%;
    }
    .betarea-horizontal-left {
        float: left;   /* 左區塊浮動 */
    }
    .betarea-horizontal-right {
        float: right;   /* 右區塊浮動 */
    }
    .bethistory-tabcontent{
        max-height: 180px;
    }
    .record-tabcontent{
        max-height: 180px;
    }
    #win_Modal .modal-body{
        padding-left: 50px;
        padding-right: 50px;
    }
    .goldcoinBox{
        top: 45%;
        text-align: center;
    }
    .goldcoinBox img{
        width: 50%;
    }
    .live-MarbleRacing .carousel-control-next, .carousel-control-prev{
        top: 100px;
        bottom: unset;
    }
}
/*--- Margin ---*/
.m-00 {margin: 0;}
.mt-05 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mb-05 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.mb-50 {margin-bottom: 50px;}
.ml-05 {margin-left: 5px;}
.ml-10 {margin-left: 10px;}
.ml-15 {margin-left: 15px;}
.ml-20 {margin-left: 20px;}
.ml-30 {margin-left: 30px;}
.ml-40 {margin-left: 40px;}
.ml-50 {margin-left: 50px;}
.mr-05 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-15 {margin-right: 15px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mr-40 {margin-right: 40px;}
.mr-50 {margin-right: 50px;}
.mx-05 {margin-left: 5px;margin-right: 5px;}
.mx-10 {margin-left: 10px;margin-right: 10px;}
.mx-15 {margin-left: 15px;margin-right: 15px;}
.mx-20 {margin-left: 20px;margin-right: 20px;}
.mx-30 {margin-left: 30px;margin-right: 30px;}
.mx-40 {margin-left: 40px;margin-right: 40px;}
.mx-50 {margin-left: 50px;margin-right: 50px;}
.my-05 {margin-top: 5px;margin-bottom: 5px;}
.my-10 {margin-top: 10px;margin-bottom: 10px;}
.my-15 {margin-top: 15px;margin-bottom: 15px;}
.my-20 {margin-top: 20px;margin-bottom: 20px;}
.my-30 {margin-top: 30px;margin-bottom: 30px;}
.my-40 {margin-top: 40px;margin-bottom: 40px;}
.my-50 {margin-top: 50px;margin-bottom: 50px;}
/*--- Padding ---*/
.p-00{padding: 0;}
.pt-05 {padding-top: 5px!important;}
.pt-10 {padding-top: 10px!important;}
.pt-15 {padding-top: 15px!important;}
.pt-20 {padding-top: 20px!important;}
.pt-30 {padding-top: 30px!important;}
.pt-40 {padding-top: 40px!important;}
.pt-50 {padding-top: 50px!important;}
.pb-05 {padding-bottom: 5px!important;}
.pb-10 {padding-bottom: 10px!important;}
.pb-15 {padding-bottom: 15px!important;}
.pb-20 {padding-bottom: 20px!important;}
.pb-30 {padding-bottom: 30px!important;}
.pb-40 {padding-bottom: 40px!important;}
.pb-50 {padding-bottom: 50px!important;}
.pl-05 {padding-left: 5px!important;}
.pl-10 {padding-left: 10px!important;}
.pl-15 {padding-left: 15px!important;}
.pl-20 {padding-left: 20px!important;}
.pl-30 {padding-left: 30px!important;}
.pl-40 {padding-left: 40px!important;}
.pl-50 {padding-left: 50px!important;}
.pr-05 {padding-right: 5px!important;}
.pr-10 {padding-right: 10px!important;}
.pr-15 {padding-right: 15px!important;}
.pr-20 {padding-right: 20px!important;}
.pr-30 {padding-right: 30px!important;}
.pr-40 {padding-right: 40px!important;}
.pr-50 {padding-right: 50px!important;}
.px-05 {padding-left: 5px!important;padding-right: 5px!important;}
.px-10 {padding-left: 10px!important;padding-right: 10px!important;}
.px-15 {padding-left: 15px!important;padding-right: 15px!important;}
.px-20 {padding-left: 20px!important;padding-right: 20px!important;}
.px-30 {padding-left: 30px!important;padding-right: 30px!important;}
.px-40 {padding-left: 40px!important;padding-right: 40px!important;}
.px-50 {padding-left: 50px!important;padding-right: 50px!important;}
.py-05 {padding-top: 5px!important;padding-bottom: 5px!important;}
.py-10 {padding-top: 10px!important;padding-bottom: 10px!important;}
.py-15 {padding-top: 15px!important;padding-bottom: 15px!important;}
.py-20 {padding-top: 20px!important;padding-bottom: 20px!important;}
.py-30 {padding-top: 30px!important;padding-bottom: 30px!important;}
.py-40 {padding-top: 40px!important;padding-bottom: 40px!important;}
.py-50 {padding-top: 50px!important;padding-bottom: 50px!important;}

/*--- Button ---*/
button{
    font-size: unset;
}
@media (max-width: 767px){
    .btn{
        padding: 0px 5px;
    }
}
.btn-primary{
    background: linear-gradient(180deg, #FF006F 31.25%, #66002D 100%),
                radial-gradient(48.46% 60.95% at 51.54% 96.43%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 85%);
    border: 1px solid rgba(188, 190, 196, 0.4);
    text-shadow: 0 0 5px #000;
    padding: 8px 16px;
    border-radius: 8px;
}
.btn-secondary{
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    text-shadow: 0 0 5px #000;
    padding: 8px 16px;
    border-radius: 8px;
}








/*--------------------------------------------------------------------------------*/
/*--- PC/Mobile隱藏 ---*/
@media screen and (min-width: 768px){
    .PChide{display: none;}
}
@media screen and (max-width: 767px){
    .MOBhide{display: none;}
}






