@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html, body{
    color: #fff;
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    background: linear-gradient(0deg, rgba(0, 6, 27, 1) 0%, rgba(17, 29, 65, 1) 100%);
}
hr {
    margin: .5em 0;
    border-bottom: 2px solid #fff;
    border-top: unset;
    opacity: unset;
}
img {width: 100%;}
.nav-link:focus, .nav-link:hover{
    color: unset;
}


/*--- 限制畫面寬高 ---*/
.main{flex: 1;}
.wrapper {
    display: flex;
    flex-direction: column; /* 讓子元素垂直排列 */
    min-height: 100vh; /* 最小高度為視窗高度 */
}
/*--- header ---*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    height: 44px;
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    border-bottom: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(238, 238, 238, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%);
    align-items: center;
}
.logoBox img{
    height: 40px;
    width: auto;
    padding: 0 3px;
}
.balanceBox img{
    height: 24px;
    width: auto;
}
.balanceBox .balance{
    color: #fff;
    font-weight: 700;
}
.refreshbalanceBox img{
    height: 24px;
    width: auto;
}
.userimgBox img{
    height: 28px;
    width: auto;
}
.dropdown-lang img{
    width: 36px;
    height: auto;
    border: 4px solid #00133000;
    border-radius: 50%;
}
.dropdown-lang:hover img{
    border: 4px solid #00133099;
}
.dropdown-lang::after {
    display: none !important;
}
.dropdown-lang-menu{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    min-width: unset;
    width: 37px;
    left: unset!important;
    right: 5px;
    padding: 0;
    border-radius: 20px;
}
.dropdown-lang-menu li:not(:first-child):not(:last-child) {
    margin: 5px 0 !important;
}
.dropdown-item{
    padding: 0;
}
.dropdown-item img{
    width: 36px;
    height: auto;
    border: 4px solid transparent;
    border-radius: 50%;
}


/*--- main 主畫面 ---*/
.main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.videoBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 45px;
    z-index: 1;
}
.LIVEvideo video {
    width: 100%;
}
.videoswitch {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0!important;
    z-index: 2;
    box-shadow: 0 0 5px #fff;
}
.videoswitch video{
    max-height: 120px;
    max-width: 120px;
    display: block;
}


/*--- Bet Area ---*/
.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}
.betareaBox{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    z-index: 2;
}
.betarea-header{
    border-bottom: 1px solid;
    border-image-source: linear-gradient(180deg, rgba(238, 238, 238, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%);
    border-image-slice: 1;
}
.betarea-header img{
    width: 24px;
    height: auto;
}
.betarea-ballBox {
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
}
.betarea-ballBox .btn-ball{
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    position: relative;
    display: inline-block;
}
.btn-ball.active{
    position: relative;
    top: -10px;
}
.btn-ball .chipimg{
    position: relative;
    bottom: -10px;
    right: 25px;
}
.btn-ball .betchipBox {
    position: absolute;
    bottom: -15px;
    right: -10px;
    width: 36px;
    height: auto;
    z-index: 9;
}
.chipimgBox {
    position: relative;
    width: 100%;
    height: 100%;
}
.chip-img {
    width: 100%;
    height: 100%;
    display: block;
}
.chip-amount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    font-weight: 800;
    color: #000;
}
/*--- Doubleside Bet ---*/
.betarea-doublesideBox {
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
}
.betarea-doublesideBox .btn-doubleside-one, .betarea-doublesideBox .btn-doubleside-two{
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    display: inline-block;
}
.btn-doubleside-one{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    border: 1px solid rgba(48, 80, 138, 1);
}
.btn-doubleside-one.active{
    background: linear-gradient(90deg, rgba(0, 89, 255, 0.75) 0%, rgba(0, 54, 153, 0.75) 100%),
                radial-gradient(50% 15.4% at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #5891FB;
}
.btn-doubleside-one .bet-optionname{
    color: rgba(81, 147, 255, 1);
    font-size: 20px;
    font-weight: 700;
}
.btn-doubleside-one.active .bet-optionname{
    color: #fff;
}
.btn-doubleside-two{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    border: 1px solid rgba(178, 60, 62, 1)
}
.btn-doubleside-two.active{
    background: linear-gradient(126.84deg, #FF0005 -54.54%, #6E0002 85.79%),
                radial-gradient(50% 18.07% at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #FF7C7E;
}
.btn-doubleside-two .bet-optionname{
    color: rgba(252, 118, 121, 1);
    font-size: 20px;
    font-weight: 700;
}
.btn-doubleside-two.active .bet-optionname{
    color: #fff;
}
.bet-price{
    color: #fff;
}
.btn-doubleside-one .betchipBox, .btn-doubleside-two .betchipBox {
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 36px;
    height: auto;
    z-index: 9;
}
/*--- Amount Setting ---*/
.betarea-amountsettingBox{
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
}
.totalamountBox{
    flex: 0 0 65%;
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    height: 36px;
}
.totalamountBox img{
    width: 24px;
    height: auto;
}
.btn-amountaction{
    flex: 1;
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    height: 36px;
}
.btn-amountaction:hover{
    background: linear-gradient(274.82deg, #4F5583 44.46%, #292E4E 76.74%, #1B1F3A 96.11%);
}
.btn-amountaction img{
    width: 24px;
    height: auto;
}
.btn-clear:active{
    background: linear-gradient(180deg, #FB5457 0%, #8A2E30 100%);
    border: 1px solid;
    border-color: #6E0002!important;
}
.btn-2x:active{
    background: linear-gradient(180deg, #33FF41 1.69%, #24B52E 100%);
    border: 1px solid;
    border-color: #33ff41!important;
}
/*--- Enter Bet ---*/
.betarea-finalbetBox{
    display: flex;
    flex-wrap: nowrap;
    gap: 3px;
}
.btn-finalbet{
    flex: 1;
    color: #fff;
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
}
.btn-finalbet img{
    width: 24px;
    height: auto;
}
.btn-finalbet:hover{
    background: linear-gradient(274.82deg, #4F5583 44.46%, #292E4E 76.74%, #1B1F3A 96.11%);
}
.btn-finalbet:active{
    background: linear-gradient(180deg, #FF006F 31.25%, #66002D 100%),
                radial-gradient(48.46% 60.95% at 51.54% 96.43%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 85%);
}
.btn-confirm{
    flex: 0 0 40%;
}
/*--- Map way ---*/
.mapway-header{
    border-top: 1px solid #ddd1;
}
.mapway-header img{
    width: 24px;
    height: auto;
}
.mapway-tab-content{
    width: 70%;
}
.mapway-tableBox{
    border: 1px solid rgba(238, 238, 238, .3);
    border-radius: 6px;
    padding: 4px;
    overflow-x: auto;
    width: 100%;
}
.mapway-table{
    table-layout: fixed;
    width: 300px;
    height: 90px;
    font-size: 10px;
}
.mapway-table td{
    height: 15px!important;
    width: 15px!important;
    text-align: center;
    vertical-align: middle;
}
.mapway-table td span {
    display: block;
    height: 13px;
    width: 13px;
    line-height: 1;
}
.way-blue{
    border: 1px solid rgba(81, 147, 255, 1);
    border-radius: 50%;
}
.way-red{
    border: 1px solid rgba(252, 118, 121, 1);
    border-radius: 50%;
}
.btn-mapwaytable{
    background: linear-gradient(282.29deg, rgba(79, 85, 131, 0.5) 0%, #292E4E 39.56%, #1B1F3A 100%);
    border: 1px solid #4F5583;
    border-radius: 4px;
    color: #fff;
    margin: 3px 0;
}
.btn-mapwaytable.active{
    background: linear-gradient(180deg, #FF006F 31.25%, #66002D 100%),
                radial-gradient(48.46% 60.95% at 51.54% 96.43%, rgba(255, 255, 255, 0.45) 0%, rgba(255, 255, 255, 0) 85%);
}
/*--- Menu dropup ---*/
.menudropupBox{
    text-align: end;
    padding: 5px;
}
.btn-menudropup{
    background: linear-gradient(0deg, rgba(0, 6, 27, 0.8) 0%, rgba(17, 29, 65, 0.8) 100%);
    border: 1px solid rgba(153, 153, 153, 0.5);
    width: 32px;
    height: 32px;
}
.menudropupBox.dropup .dropdown-toggle::after{
    display: none;
}








/*--- Margin ---*/
.m-00 {margin: 0;}
.mt-05 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-30 {margin-top: 30px;}
.mt-40 {margin-top: 40px;}
.mt-50 {margin-top: 50px;}
.mb-05 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-30 {margin-bottom: 30px;}
.mb-40 {margin-bottom: 40px;}
.mb-50 {margin-bottom: 50px;}
.ml-05 {margin-left: 5px;}
.ml-10 {margin-left: 10px;}
.ml-15 {margin-left: 15px;}
.ml-20 {margin-left: 20px;}
.ml-30 {margin-left: 30px;}
.ml-40 {margin-left: 40px;}
.ml-50 {margin-left: 50px;}
.mr-05 {margin-right: 5px;}
.mr-10 {margin-right: 10px;}
.mr-15 {margin-right: 15px;}
.mr-20 {margin-right: 20px;}
.mr-30 {margin-right: 30px;}
.mr-40 {margin-right: 40px;}
.mr-50 {margin-right: 50px;}
.mx-05 {margin-left: 5px;margin-right: 5px;}
.mx-10 {margin-left: 10px;margin-right: 10px;}
.mx-15 {margin-left: 15px;margin-right: 15px;}
.mx-20 {margin-left: 20px;margin-right: 20px;}
.mx-30 {margin-left: 30px;margin-right: 30px;}
.mx-40 {margin-left: 40px;margin-right: 40px;}
.mx-50 {margin-left: 50px;margin-right: 50px;}
.my-05 {margin-top: 5px;margin-bottom: 5px;}
.my-10 {margin-top: 10px;margin-bottom: 10px;}
.my-15 {margin-top: 15px;margin-bottom: 15px;}
.my-20 {margin-top: 20px;margin-bottom: 20px;}
.my-30 {margin-top: 30px;margin-bottom: 30px;}
.my-40 {margin-top: 40px;margin-bottom: 40px;}
.my-50 {margin-top: 50px;margin-bottom: 50px;}
/*--- Padding ---*/
.p-00{padding: 0;}
.pt-05 {padding-top: 5px!important;}
.pt-10 {padding-top: 10px!important;}
.pt-15 {padding-top: 15px!important;}
.pt-20 {padding-top: 20px!important;}
.pt-30 {padding-top: 30px!important;}
.pt-40 {padding-top: 40px!important;}
.pt-50 {padding-top: 50px!important;}
.pb-05 {padding-bottom: 5px!important;}
.pb-10 {padding-bottom: 10px!important;}
.pb-15 {padding-bottom: 15px!important;}
.pb-20 {padding-bottom: 20px!important;}
.pb-30 {padding-bottom: 30px!important;}
.pb-40 {padding-bottom: 40px!important;}
.pb-50 {padding-bottom: 50px!important;}
.pl-05 {padding-left: 5px!important;}
.pl-10 {padding-left: 10px!important;}
.pl-15 {padding-left: 15px!important;}
.pl-20 {padding-left: 20px!important;}
.pl-30 {padding-left: 30px!important;}
.pl-40 {padding-left: 40px!important;}
.pl-50 {padding-left: 50px!important;}
.pr-05 {padding-right: 5px!important;}
.pr-10 {padding-right: 10px!important;}
.pr-15 {padding-right: 15px!important;}
.pr-20 {padding-right: 20px!important;}
.pr-30 {padding-right: 30px!important;}
.pr-40 {padding-right: 40px!important;}
.pr-50 {padding-right: 50px!important;}
.px-05 {padding-left: 5px!important;padding-right: 5px!important;}
.px-10 {padding-left: 10px!important;padding-right: 10px!important;}
.px-15 {padding-left: 15px!important;padding-right: 15px!important;}
.px-20 {padding-left: 20px!important;padding-right: 20px!important;}
.px-30 {padding-left: 30px!important;padding-right: 30px!important;}
.px-40 {padding-left: 40px!important;padding-right: 40px!important;}
.px-50 {padding-left: 50px!important;padding-right: 50px!important;}
.py-05 {padding-top: 5px!important;padding-bottom: 5px!important;}
.py-10 {padding-top: 10px!important;padding-bottom: 10px!important;}
.py-15 {padding-top: 15px!important;padding-bottom: 15px!important;}
.py-20 {padding-top: 20px!important;padding-bottom: 20px!important;}
.py-30 {padding-top: 30px!important;padding-bottom: 30px!important;}
.py-40 {padding-top: 40px!important;padding-bottom: 40px!important;}
.py-50 {padding-top: 50px!important;padding-bottom: 50px!important;}

/*--- Button ---*/
button{
    font-size: unset;
}
@media (max-width: 767px){
    .btn{
        padding: 0px 5px;
    }
}
.btn-primary{
    background: rgba(255, 128, 0, 1);
    border-radius: 24px;
    text-shadow: 0 0 5px #000;
}
.btn-primary:hover, .btn-primary:active{
    background: rgba(255, 193, 0, 1)!important;
}
.btn-secondary{
    background: rgba(0, 19, 48, 0.5);
    border: 2px solid rgba(255, 193, 0, 1);
    color: rgba(255, 193, 0, 1);
    border-radius: 24px;
    text-shadow: 0 0 5px #000;
}
.btn-secondary:hover, .btn-secondary:active{
    background: rgba(255, 193, 0, 1)!important;
    border: 2px solid rgba(255, 193, 0, 1);
}
/*--- Tab Button ---*/
.tab-primary{
    background: none;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    text-shadow: 0 0 5px #000;
}
.tab-primary:hover, .tab-primary:active{
    background: rgba(255, 193, 0, 1);
}
.tab-primary.active{
    background: linear-gradient(180deg, #FF6767 0%, #B90F0F 100%);
    color: #fff;
    border-color: rgba(255, 56, 56, 1);

}







/*--------------------------------------------------------------------------------*/
/*--- PC/Mobile隱藏 ---*/
@media screen and (min-width: 768px){
    .PChide{display: none;}
}
@media screen and (max-width: 767px){
    .MOBhide{display: none;}
}








